/* Global styles */
body {
  background-color: #f5f5f5;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Lexend", sans-serif;
}

#root {
  min-height: 100vh;
  width: 100%;
}

.custom-bottom-nav-action {
  padding: 10px;
  border-radius: 100px;
}

.custom-bottom-nav-action .MuiBottomNavigationAction-label {
  font-family: "Lexend", sans-serif;
  font-size: medium;
  color: #393158;
  opacity: 0.65;
}

.custom-bottom-nav-action .Mui-selected .MuiBottomNavigationAction-label {
  color: #393158;
  font-size: medium;
  opacity: 1;
}

.custom-bottom-nav-action .MuiSvgIcon-root {
  color: #393158;
  opacity: 0.65;
}

.custom-bottom-nav-action .Mui-selected .MuiSvgIcon-root {
  color: #393158;
  opacity: 1;
}

/* Styles for HomePage */
.homePage {
  padding: 16px;
}

.profileIconContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 10px;
}

.welcomeMessage {
  margin-left: 10px;
}

.welcomeMessage .welcomeBack {
  font-size: 1.8rem;
  font-weight: normal;
  font-family: "Lexend", sans-serif;
  color: #694e84;
}

.welcomeMessage .userName {
  font-size: 3.3rem;
  font-weight: bold;
  font-family: "Lexend", sans-serif;
  color: #694e84;
}

.profileIconButton .profileIcon {
  color: #393158;
  font-size: 58px;
}

.quoteContainer .inspirationalQuote {
  text-align: center;
  margin-top: 25px;
  font-weight: 400;
  color: #393158;
  font-family: "Lexend", sans-serif;
}

.fruitContainer {
  text-align: center;
  margin-top: 20px;
}

.fruitContainer .fruit {
  font-size: 7rem;
  text-shadow: 4px 8px 15px rgb(116, 116, 116);
}

.progressCard,
.symptomsCard {
  margin-top: 20px;
  box-shadow: 0px 80px 2px black;
}

.progressContainer .progressCard {
  border-radius: 30px;
  background-color: #e8dbcc;
  box-shadow: 3px 3px 4px grey;
}

.progressContainer .progressCard .progressInfo1 {
  font-family: "Lexend", sans-serif;
  color: #694e84;
}

.progressContainer .progressCard .progressInfo2 {
  font-family: "Lexend", sans-serif;
  font-size: large;
  color: #393158;
}

.progressContainer .progressCard .progressInfo3 {
  font-family: "Lexend", sans-serif;
  font-size: medium;
  color: #393158;
}

.symptomsContainer {
  margin-bottom: 80px;
}

.symptomsContainer .symptomsCard {
  border-radius: 30px;
  background-color: #e8dbcc;
  box-shadow: 3px 3px 4px grey;
}

.symptomsContainer .symptomsCard .symptomsInfo1 {
  font-family: "Lexend", sans-serif;
  color: #694e84;
}

.symptomsContainer .symptomsCard .symptomsInfo2 {
  font-family: "Lexend", sans-serif;
  font-size: large;
  color: #393158;
}

.symptomsContainer .symptomsCard .symptomsInfo3 {
  font-family: "Lexend", sans-serif;
  font-size: large;
  color: #393158;
}

/* Styles for Community */

.community-page {
  padding: 20px;
}

.community-heading .community-title {
  margin-top: 37px;
  margin-bottom: 8px;
  font-family: "Lexend", sans-serif;
  color: #694e84;
}

.group-heading .group-topics-title {
  margin-bottom: 16px;
  font-family: "Lexend", sans-serif;
  color: #694e84;
  border-bottom: none;
}

.search-bar-box {
  display: flex;
  align-items: flex-end;
  margin-bottom: 24px;
  border-radius: 70px;
}

.search-bar-box .searchBar {
  border-radius: 10px;
}

.search-icon {
  margin-right: 8px;
  margin-bottom: 4px;
}

.forum-card-container {
  margin-bottom: 70px;
}

.forum-card-container .forum-card {
  background-color: #e8dbcc;
  box-shadow: 2px 2px 2px rgb(180, 180, 180);
  border-radius: 20px;
}

.forum-card .forum-card-title {
  font-family: "Lexend", sans-serif;
  color: #694e84;
  text-decoration: none;
}

.forum-card .forum-card-members {
  font-family: "Lexend", sans-serif;
  color: #694e84;
  text-decoration: none;
}

.forum-card:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease-in-out;
  box-shadow: 2px 4px 4px rgb(180, 180, 180);
}

.forum-card a:hover {
  text-decoration: none;
}

.forum-card .emoji-styles {
  font-size: 80px;
  justify-content: start;
}

.forum-link,
.forum-link:hover,
.forum-link:focus {
  text-decoration: none;
}
